<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pets"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pet-profile-content" fullscreen>

  <!-- Nom & Photo -->
  <div class="top-card">
    <ion-item lines="none" class="flat-input">
      <ion-input
        [(ngModel)]="pet.name"
        name="name"
        placeholder="Nom de l’animal"
        required
        #nameInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="nameInput.invalid && nameInput.touched">
      Le nom est requis.
    </ion-note>

    <div class="photo-wrapper">
      <ion-avatar class="avatar-big">
        <img *ngIf="preview; else placeholder" [src]="preview" />
        <ng-template #placeholder>
          <div class="avatar-placeholder">+</div>
        </ng-template>
      </ion-avatar>
      <ion-button fill="clear" (click)="fileInput.click()">Ajouter une photo</ion-button>
      <input #fileInput type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden />
    </div>
  </div>

  <!-- Type -->
  <div class="section-card">
    <h3>Votre animal est un</h3>
            <div class="grid-icons">
              <div *ngFor="let t of types"
                   class="icon-card"
                   [class.selected]="pet.type === t.value"
                   (click)="pet.type = t.value">
                <img [src]="'/assets/' + t.value + '.svg'" [alt]="t.label" class="icon-img" />
                <p>{{ t.label }}</p>
              </div>
            </div>
            <ion-item *ngIf="pet.type === 'Autre'" lines="full" class="other-select">
              <ion-label position="stacked">Précisez</ion-label>
              <ion-select
                interface="popover"
                [(ngModel)]="petTypeOther"
                name="petTypeOther"
                placeholder="Sélectionnez un autre">
                <ion-select-option *ngFor="let o of otherTypes" [value]="o">
                  {{ o }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <!-- Race -->
          <ion-item *ngIf="pet.type" lines="full">
            <ion-label position="stacked">Race</ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="pet.breed"
              name="breed"
              placeholder="Sélectionnez une race"
              class="custom-select"
            >
              <ion-select-option *ngFor="let breed of getBreeds()" [value]="breed">
                {{ breed }}
              </ion-select-option>
            </ion-select>
          </ion-item>

  <!-- Taille -->
  <div class="section-card">
    <h3>Taille</h3>
    <ion-segment >
      <ion-segment-button value="small">Petite</ion-segment-button>
      <ion-segment-button value="medium">Moyenne</ion-segment-button>
      <ion-segment-button value="large">Grande</ion-segment-button>
    </ion-segment>
  </div>

  <!-- Genre / Date / Poids -->
  <div class="section-card">
    <h3>Genre</h3>
    <ion-segment [(ngModel)]="pet.gender">
      <ion-segment-button value="Male">
        <ion-icon name="male-outline"></ion-icon> Mâle
      </ion-segment-button>
      <ion-segment-button value="Female">
        <ion-icon name="female-outline"></ion-icon> Femelle
      </ion-segment-button>
      <ion-segment-button value="Sterilized">
    <ion-icon name="medical-outline"></ion-icon>
    Stérilisé(e)
  </ion-segment-button>
      
    </ion-segment>

    <h3>Date de naissance</h3>
          <ion-item class="date-item" lines="full" (click)="showDatePicker = true">
             <input
    type="text"
    readonly
    [value]="formatDate(pet.birth_date)"
    placeholder="Date de naissance"
  />
            <ion-icon slot="end" name="calendar-outline" class="date-icon"></ion-icon>
          </ion-item>
          
<!-- Popover avec le datepicker -->
<ion-popover
  *ngIf="showDatePicker"
  [isOpen]="showDatePicker"
  (didDismiss)="showDatePicker = false"
>
  <ng-template>
    <ion-datetime
      interface="modal"

      presentation="date"
      [value]="pet.birth_date"
      (ionChange)="onDateSelected($event)"
      cancel-text="Annuler"
      done-text="OK"
    ></ion-datetime>
  </ng-template>
</ion-popover>


    <h3>Poids (kg)</h3>
    <ion-item lines="none">
      <ion-input
        type="number"
        [(ngModel)]="pet.weight"
        name="weight"
        placeholder="Poids"
        required
        #weightInput="ngModel">
      </ion-input>
      <span slot="end">kg</span>
    </ion-item>
    <ion-note color="danger" *ngIf="weightInput.invalid && weightInput.touched">
      Le poids est requis.
    </ion-note>
  </div>

  <!-- Vaccination -->
  <div class="section-card">
    <h3>Vaccination</h3>
    <div class="grid-icons small">
      <div *ngFor="let v of vaccOptions"
           class="icon-card"
           [class.selected]="pet.is_vaccinated === v.value"
           (click)="pet.is_vaccinated = v.value">
        <img [src]="'/assets/' + v.icon" class="icon-img" />
        <p>{{ v.label }}</p>
      </div>
    </div>
  </div>

  <!-- Maladie -->
  <div class="section-card">
    <h3>Maladie contagieuse</h3>
    <div class="grid-icons small">
      <div *ngFor="let d of diseaseOptions"
           class="icon-card"
           [class.selected]="pet.has_contagious_disease === d.value"
           (click)="pet.has_contagious_disease = d.value">
        <img [src]="'/assets/' + d.icon" class="icon-img" />
        <p>{{ d.label }}</p>
      </div>
    </div>
  </div>
  <div class="section-card">
    <h3> Posséde t-il un Dosiier Medical Complet?</h3>
    <div class="grid-icons small">
      <div *ngFor="let d of medicalFolder"
           class="icon-card"
           [class.selected]="pet.has_medical_file === d.value"
           (click)="pet.has_medical_file = d.value">
        <img [src]="'/assets/' + d.icon" class="icon-img" />
        <p>{{ d.label }}</p>
      </div>
    </div>
  </div>
   <div class="section-card">
  <h3> Possède t-il un état de santé critique ?</h3>
  <div class="grid-icons small">
    <div *ngFor="let d of criticalCondition"
         class="icon-card"
         [class.selected]="pet.is_critical_condition === d.value"
         (click)="pet.is_critical_condition = d.value">
      
      <!-- on agrandit simplement ici -->
      <img 
        [src]="'/assets/' + d.icon"
        style="width: 150px; height: 100px;" 
        alt="{{ d.label }}"
      />
      
      <p>{{ d.label }}</p>
    </div>
  </div>
</div>


  <!-- Enregistrer -->
  <ion-button expand="block" class="save-btn" (click)="savePet()">Enregistrer</ion-button>

</ion-content>
