<ion-content class="signup-screen" fullscreen>
  
    <div class="header">
      <h1>SitMypet</h1>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="personnel">
        <ion-label>personnelles</ion-label>
      </ion-segment-button>
      <ion-segment-button value="professionnel">
        <ion-label>professionnelles</ion-label>
      </ion-segment-button>
      <ion-segment-button value="localisation">
        <ion-label>localisation</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="signup-container">
    <form #form="ngForm" (ngSubmit)="SubmitForm(form)">

    <!-- Section personnelle -->
<div *ngIf="selectedSegment === 'personnel'">
  <!-- Nom -->
  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="person-outline"></ion-icon>
    </div>
      <input type="text" placeholder="Nom" [(ngModel)]="newPetSitter.last_name" name="last_name" />

  </div>

  <!-- Prénom -->
  <div class="form-group icon">
    <div class="container">
      <ion-icon name="person-outline"></ion-icon>
    </div>
    <input type="text" placeholder="Prénom" [(ngModel)]="newPetSitter.first_name" name="first_name" />

  </div>

  <!-- Adresse e-mail -->
  <div class="form-group icon-right">
    <input type="email" placeholder="Adresse e-mail" [(ngModel)]="newPetSitter.email" name="email" />

    <div class="icon-container">
      <ion-icon name="mail-outline"></ion-icon>
    </div>
  </div>

 <!-- Sexe -->
<div class="form-group icon-left">
  <div class="icon-container">
    <ion-icon name="male-female-outline"></ion-icon>
  </div>
  <ion-select
  [(ngModel)]="newPetSitter.gender"
  placeholder="Sexe"
  interface="popover"
  name="gender"
  [selectedText]="getGenderLabel(newPetSitter.gender)"
>

  <ion-select-option value="Male">Homme</ion-select-option>
  <ion-select-option value="Female">Femme</ion-select-option>
  <ion-select-option value="Other">Autre</ion-select-option>
</ion-select>



</div>




  <!-- Téléphone -->
  <div class="form-group icon-right">
    <input type="tel" placeholder="Numéro de téléphone" [(ngModel)]="newPetSitter.phone" name="phone" />

    <div class="icon-container">
      <ion-icon name="call-outline"></ion-icon>
    </div>
  </div>


 <!-- Champ date de naissance cliquable -->
<div class="form-group icon-left" (click)="showDatePicker = true">
  <div class="icon-container">
    <ion-icon name="calendar-outline"></ion-icon>
  </div>
  <input
    type="text"
    readonly
    [value]="formatDate(newPetSitter.birth_date)"
    placeholder="Date de naissance"
    style="flex: 1; padding: 12px 20px; border: none; font-size: 15px; background-color: white;"
  />
</div>

<!-- Popover avec le datepicker -->
<ion-popover
  *ngIf="showDatePicker"
  [isOpen]="showDatePicker"
  (didDismiss)="showDatePicker = false"
>
  <ng-template>
    <ion-datetime
      interface="modal"

      presentation="date"
      [value]="newPetSitter.birth_date"
      (ionChange)="onDateSelected($event)"
      cancel-text="Annuler"
      done-text="OK"
    ></ion-datetime>
  </ng-template>
</ion-popover>




  <!-- Photo -->
  <div class="form-group icon-right">
  <label for="photoFile" class="custom-upload-label">
    <div class="icon-container">
      <ion-icon name="camera-outline"></ion-icon>
    </div>
    <span class="upload-text">
      {{ profilePictureURL || 'Télécharger votre Image' }}
    </span>
  </label>

  <input
    type="file"
    accept=".pdf,.jpg,.png"
    (change)="onPhotoFileSelected($event)"
    id="photoFile"
    style="position: absolute; width: 1px; height: 1px; opacity: 0; overflow: hidden; clip: rect(0 0 0 0);"
  />
</div>


 


  <!-- Mot de passe -->
  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </div>
    <input type="password" placeholder="Mot de passe" [(ngModel)]="newPetSitter.password" name="password" />

  </div>

  <!-- Confirmation du mot de passe -->
  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </div>
    <input type="password" placeholder="Confirmer le mot de passe" [(ngModel)]="newPetSitter.password_confirmation" name="password_confirmation" />

  </div>

</div>


    <!-- Section professionnelle -->
<div *ngIf="selectedSegment === 'professionnel'">

  <!-- Expérience -->
  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="briefcase-outline"></ion-icon>
    </div>
    <input type="text"  [(ngModel)]="newPetSitter.experience"  placeholder="Expérience (ex: 2 ans de garde)" />
  </div>

  <!-- Qualités -->
  <div class="form-group icon-right">
    <input type="text" [(ngModel)]="newPetSitter.personalQualities"  placeholder="Qualités (ex: patient, ponctuel)" />
    <div class="icon-container">
      <ion-icon name="sparkles-outline"></ion-icon>
    </div>
  </div>

  <!-- Compétences -->
  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="settings-outline"></ion-icon>
    </div>
    <input type="text" [(ngModel)]="newPetSitter.skills"  placeholder="Compétences (ex: premiers secours animaux)" />
  </div>
  
  <div class="form-group icon-left">
  <label for="acacedFile" class="custom-upload-label">
    <div class="icon-container">
      <ion-icon name="document-outline"></ion-icon>
    </div>
    <span class="upload-text">
      {{ ACACED || 'Télécharger votre certificat ACACED' }}
    </span>
  </label>

  <input
    type="file"
    accept=".pdf,.jpg,.png"
    (change)="onAcacedFileSelected($event)"
    id="acacedFile"
    style="position: absolute; width: 1px; height: 1px; opacity: 0; overflow: hidden; clip: rect(0 0 0 0);"
  />
</div>



  

</div>

<!-- Section localisation -->
<!-- Section localisation -->
<div *ngIf="selectedSegment === 'localisation'">
  <!-- Adresse personnelle -->
  <h4 style="margin-bottom: 10px; text-align: left;">Adresse personnelle</h4>
  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <input type="text" placeholder="Cité" [(ngModel)]="newPetSitter.personal_address.city" name="personal_city" />
  </div>

  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="navigate-outline"></ion-icon>
    </div>
    <input type="text" placeholder="Rue" [(ngModel)]="newPetSitter.personal_address.street" name="personal_street" />
  </div>

  <div class="form-group icon-right">
    <input type="text" placeholder="Code postal" [(ngModel)]="newPetSitter.personal_address.zipcode" name="personal_zip" />
    <div class="icon-container">
      <ion-icon name="mail-open-outline"></ion-icon>
    </div>
  </div>

  <!-- Adresse du chenil -->
  <h4 style="margin: 30px 0 10px; text-align: left ;">Avez-une adresse de chenil?</h4>
  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <input type="text" placeholder="Cité (chenil)" [(ngModel)]="newPetSitter.kennel_address.city" name="kennel_city" />
  </div>

  <div class="form-group icon-left">
    <div class="icon-container">
      <ion-icon name="navigate-outline"></ion-icon>
    </div>
    <input type="text" placeholder="Rue (chenil)" [(ngModel)]="newPetSitter.kennel_address.street" name="kennel_street" />
  </div>

  <div class="form-group icon-right">
    <input type="text" placeholder="Code postal (chenil)" [(ngModel)]="newPetSitter.kennel_address.zipcode" name="kennel_zip" />
    <div class="icon-container">
      <ion-icon name="mail-open-outline"></ion-icon>
    </div>
  </div>

  <!-- Bouton d'envoi -->
  <ion-button expand="block" class="signup-button" type="submit">
    Envoyer
  </ion-button>
</div>





